body {
  overflow: hidden;

  margin: 0;
  background-color: #151515;
  
  width: 100vw;
  height: 100vh;
}

#black-circle {
  position: absolute;
  z-index: 1;
  
  top: 50%;
  left: -2000px;
  
  transform: translateY(-50%);
    
  border-radius: 100%;
  
  width: 2500px;
  height: 2000px;
  
  background-color: black;
  filter: blur(60px);
  opacity: 75%;
}

.menu {
  position: absolute;
  z-index: 2;
  
  top: 50%;
  left: 25px;
  
  height: 80px;
  
  transform: translateY(-50%);
}
.nav-btn {
  position: absolute;
  
  display: flex;
  
  height: 80px;
  
  transition: 0.25s;
}
.sgwiggle {
  object-fit: contain;
  
  width: 29px;
}
.btn {
  display: flex;
  align-items: center;
  
  margin: 0;
  margin-left: 30px;
  
  border-radius: 10px;
  
  padding-left: 18px;
  
  width: 350px;
  height: 80px;
  
  background-color: rgba(255, 255, 255, .1);
  
  color: white;
  
  font-family: Akaya Kanadaka;
  font-size: 56px;
}

.stage-3 {
  top: -240px;
  left: -140px;
  
  transform: scale(.45);
  opacity: 10%;
}
.stage-2 {
  top: -180px;
  left: -90px;
  
  transform: scale(.65);
  opacity: 25%;
}
.stage-1 {
  top: -100px;
  left: -40px;
  
  transform: scale(.85);
  opacity: 50%;
}
.stage0 {
  top: 0px;
  left: 0px;
  
  transform: scale(1);
  opacity: 100%;
}
.stage1 {
  top: 100px;
  left: -40px;
  
  transform: scale(.85);
  opacity: 50%;
}
.stage2 {
  top: 180px;
  left: -90px;
  
  transform: scale(.65);
  opacity: 25%;
}
.stage3 {
  top: 240px;
  left: -140px;
  
  transform: scale(.45);
  opacity: 10%;
}

.background {
  position: absolute;
  z-index: -1;

  object-fit: cover;
  
  opacity: 25%;
}

.home {
  opacity: 1;

  transition: .25s;
}
.home .background {
  top: -50px;
  left: 100px;
  
  width: 120vw;
  height: 120vh;
}

.front {
  opacity: 0;

  transition: .25s;
}
.front .background {
  top: -50px;
  left: 200px;
  
  width: 150vw;
  height: 150vh;
}

.wback {
  opacity: 0;

  transition: .25s;
}
.wback .background {
  left: 50px;
  
  width: 110vw;
  height: 110vh;
}

.sback {
  opacity: 0;

  transition: .25s;
}
.sback .background {  
  left: -200px;
  
  transform: scaleX(-1);
  
  width: 175vw;
  height: 175vh;
}