/* Width and height of the scrollbar track */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #323232;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	margin-top: 100px;
	margin-bottom: 100px;

  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #323232;
}

::-webkit-scrollbar-thumb:active {
  background: #292929;
}

body {
	margin: 0;

	width: 100%;
	height: 100vh;

	background-color: #1A1A1A;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;

	box-shadow: 0 0 25px rgba(0, 0, 0, 0.514);

	width: 75px;
	height: 100%;

	background-color: #323232;
}
.btns {
	padding: 10px;
	/* transform: translate(-50%, -50%); */

	width: 40px;
	height: 40px;
}
.menu a {
	margin-top: 15px;

	width: 60px;
	height: 60px;

	transition: 0.1s;
}
.menu a:hover {
	border-radius: 100px;

	background-color: #444444;

	transition: 0.1s;
}

.divider {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 10px;

	width: 5px;
	height: 85%;

	background-color: #323232;
}


main {
	display: flex;
	justify-content: space-around;

	width: 100%;
	height: 100%;
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow-y: scroll;

	width: 40%;
	max-height: 100%;
}
.top-card {
	margin-top: 125px;
}
.bottom-card {
	margin-bottom: 125px !important;
}
.skill-card {
	display: flex;

	margin-bottom: 50px;

	border-radius: 10px;

	width: 600px;
	height: 150px;
	min-height: 150px;

	background-color: #323232;

	color: white;
	font-family: Arial;
	
}
.skill-card img {
	position: relative;

	top: 50%;
	left: 11%;
	transform: translate(-50%, -50%);

	width: 115px;
	height: 115px;
}

.skill-contents {
	margin-top: 15px;
	margin-left: 20px;

	width: 75%;
}
.skill-title {
	margin-top: 8px;

	font-size: 25px;
	font-weight: bold;
}
.skill-desc {
	margin-top: -20px;

	width: 94%;

	color: rgba(255, 255, 255, 0.719);
}
.skill-progress-bar {
	margin-top: 20px;

	border-radius: 10px;

	width: 94%;
	height: 10px;

	background-color: #1A1A1A;
}

/* Progress bars */
.skill-progress {
	border-radius: 10px;

	height: 100%;
}

.html-progress {
	width: 97%;
	background-color: orangered;
}
.css-progress {
	width: 85%;
	background-color: dodgerblue;
}
.js-progress {
	width: 75%;
	background-color: yellow;
}
/*  */

.info {
	margin-top: 125px;

	width: 40%;
	font-family: Arial;
}

.about-me {
	width: 100%;
	height: 65%;
}
.title {
	margin: 0;

	color: #6F6F6F;
	font-size: 48px;
	font-weight: bold;
}
.desc {
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 20px;

	color: #6F6F6F;
	font-size: 24px;
}
.list	{
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 35px;
}